<div class="panel panel-default col-xs-5 col-md-5">
    	<div class="panel-heading">
	      <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span>Recipes</h3>
	    </div>
	    <div class="panel-body">
	      <ul class="list-group">
	      	<li class="list-group-item" ng-repeat="recipe in recipes track by $index">
	      		<a ng-click="goToProfile(recipe.recipeId,recipe.title)">
	      			<span class="glyphicon glyphicon-cutlery"></span> {{recipe.title}}
	      		</a>
	      		<div class="image-container">
		      		<img ng-src="{{recipe.image_url}}" alt="{{recipe.title}}">
		      	</div>
	      		
	      	</li>
	      </ul>
	    </div>
	  </div>
 </div>