<div ng-hide='isUserLoggedIn() && hasAnyVote()' class="panel panel-default" ng-controller="BestRatedRecipesController">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="glyphicon glyphicon-cutlery"></span> Most Popular Recipes</h3>
        </div>
        <div class="panel-body">
            <div class="recipesList">
                <div class="row">
                  <div class="col-xs-3 col-md-2" ng-repeat="recipe in recipes" ng-click="goToProfile(recipe.recipeId,recipe.title)">
                        <div class="thumbnail">
                            <img ng-src="{{recipe.image_url}}" alt="{{recipe.title}}">
                            <div class="caption">
                              <h3>{{recipe.title}}</h3>
                              <div class="rating" ng-class="hasUserVoted(recipe.recipeId) ? 'voted' : 'nonVoted'">
                                  <span  class="glyphicon glyphicon-thumbs-up"  ng-click="voteOnRecipe(recipe.recipeId, 1); $event.stopPropagation()" ng-class="{'green':hasVoteValue(recipe.recipeId, 1)}"></span>
                                  <span class="votesValue">{{recipe.votes[0]}} votes</span>
                                  <span  class="glyphicon glyphicon-thumbs-down" ng-click="voteOnRecipe(recipe.recipeId, 0); $event.stopPropagation()" ng-class="{'green':hasVoteValue(recipe.recipeId, 0)}"></span>
                                  <span class="votesValue">{{recipe.votes[1]}} votes</span>
                              </div>
                            </div>
                        </div>
                  </div>
                </div>
            </div>
        </div>
</div>


<div ng-controller='UserDashboardController' ng-show='isUserLoggedIn() && hasAnyVote()' class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="glyphicon glyphicon-cutlery"></span> Recommended Recipes</h3>
        </div>
        <div class="panel-body">
            <div class="recipesList">
                <div class="row">
                  <div class="col-xs-3 col-md-2" ng-repeat="recipe in recipes" ng-click="goToProfile(recipe.recipeId,recipe.title)">
                        <div class="thumbnail">
                            <img ng-src="{{recipe.image_url}}" alt="{{recipe.title}}">
                            <div class="caption">
                              <h3>{{recipe.title}}</h3>
                              <div class="rating" ng-class="hasUserVoted(recipe.recipeId) ? 'voted' : 'nonVoted'">
                                  <span  class="glyphicon glyphicon-thumbs-up" ng-click="voteOnRecipe(recipe.recipeId, 1); $event.stopPropagation()" ng-class="{'green':hasVoteValue(recipe.recipeId, 1)}"></span>
                                  <span class="votesValue">{{recipe.votes[0]}} votes</span>
                                  <span  class="glyphicon glyphicon-thumbs-down" ng-click="voteOnRecipe(recipe.recipeId, 0); $event.stopPropagation()" ng-class="{'green':hasVoteValue(recipe.recipeId, 0)}"></span>
                                  <span class="votesValue">{{recipe.votes[1]}} votes</span>
                              </div>
                            </div>
                        </div>
                  </div>
                </div>
            </div>

        </div>
</div>
