<div class="panel panel-default col-xs-5 col-md-5">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-cutlery"></span> {{recipe.title}}</h3>
    </div>
    <div class="panel-body">
      <div class="image-container">
      	<img ng-src="{{recipe.image_url}}" alt="{{recipe.title}}">
      </div>
       <div class="rating centralized" ng-class="hasUserVoted(recipe.recipeId) ? 'voted' : 'nonVoted'">
          <span  class="glyphicon glyphicon-thumbs-up" ng-click="voteOnRecipe(recipe.recipeId, 1)" ng-class="{'green':hasVoteValue(recipe.recipeId, 1)}" ></span>
          <span class="votesValue">{{recipe.votes[0]}} votes</span>
          <span  class="glyphicon glyphicon-thumbs-down" ng-click="voteOnRecipe(recipe.recipeId, 0)" ng-class="{'green':hasVoteValue(recipe.recipeId, 0)}"></span>
          <span class="votesValue">{{recipe.votes[1]}} votes</span>
      </div>
      <h3>Ingredients</h3>
      <ul class="list-group">
      	<li class="list-group-item" ng-repeat="ingredient in recipe.ingredients track by $index">{{ingredient}}</li>
      </ul>

      <h3>Instructions</h3>
      <ol class="list-group">
      	<li class="list-group-item" ng-repeat="instruction in recipe.instructions track by $index">{{instruction}}</li>
      </ol>
    </div>
  </div>

 <div class="panel panel-default col-xs-6 col-md-6">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-cutlery"></span> Similar Recipes</h3>
    </div>
    <div class="panel-body">


    	<div class="recipesList">
                <div class="row">
                  <div class="col-xs-5 col-md-5" ng-repeat="otherRecipe in recipe.similarRecipes" ng-click="goToProfile(otherRecipe.recipeId,otherRecipe.title)">
                        <div class="thumbnail">
                            <img ng-src="{{otherRecipe.image_url}}" alt="{{otherRecipe.title}}">
                            <div class="caption">
                              <h3>{{otherRecipe.title}}</h3>
                              <div class="rating"  ng-class="hasUserVoted(otherRecipe.recipeId) ? 'voted' : 'nonVoted'">
                                  <span  class="glyphicon glyphicon-thumbs-up"  ng-click="voteOnRecipe(otherRecipe.recipeId, 1); $event.stopPropagation()" ng-class="{'green':hasVoteValue(otherRecipe.recipeId, 1)}"></span>
                                  <span class="votesValue">{{otherRecipe.votes[0]}} votes</span>
                                  <span  class="glyphicon glyphicon-thumbs-down"  ng-click="voteOnRecipe(otherRecipe.recipeId, 0);$event.stopPropagation()" ng-class="{'green':hasVoteValue(otherRecipe.recipeId, 0)}"></span>
                                  <span class="votesValue">{{otherRecipe.votes[1]}} votes</span>
                              </div>
                            </div>
                        </div>
                  </div>
                </div>
            </div>





    </div>
 </div>