 <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-cutlery"></span>Matched Recipes</h3>
    </div>
    <div class="panel-body">


    	   <!-- <div class="recipesList">
                <div class="row">
                  <div class="col-xs-3 col-md-2" ng-repeat="otherRecipe in recipes" ng-click="goToProfile(otherRecipe.recipeId,otherRecipe.title)">
                        <div class="thumbnail">
                            <img ng-src="{{otherRecipe.image_url}}" alt="{{otherRecipe.title}}">
                            <div class="caption">
                              <h3>{{otherRecipe.title}}</h3>
                              <div class="rating">
                                  <span ng-repeat="i in getRange(otherRecipe.rating_value) track by $index" class="glyphicon glyphicon-star"></span>
                                   <span ng-repeat="i in getRange(5 - otherRecipe.rating_value) track by $index" class="glyphicon glyphicon-star-empty"></span>
                                  
                              </div>
                            </div>
                        </div>
                  </div>
                </div>
            </div> -->

            <div class="recipesList">
              <div class="row">
                <div class="col-xs-3 col-md-2" ng-repeat="otherRecipe in recipes" ng-click="goToProfile(otherRecipe.recipeId,otherRecipe.title)">
                      <div class="thumbnail">
                          <img ng-src="{{otherRecipe.image_url}}" alt="{{otherRecipe.title}}">
                          <div class="caption">
                            <h3>{{otherRecipe.title}}</h3>
                            <div class="rating"  ng-class="hasUserVoted(otherRecipe.recipeId) ? 'voted' : 'nonVoted'">
                                <span  class="glyphicon glyphicon-thumbs-up" ng-class="{'green':hasVoteValue(otherRecipe.recipeId, 1)}"></span>
                                <span class="votesValue">{{otherRecipe.votes[0]}} votes</span>
                                <span  class="glyphicon glyphicon-thumbs-down" ng-class="{'green':hasVoteValue(otherRecipe.recipeId, 0)}"></span>
                                <span class="votesValue">{{otherRecipe.votes[1]}} votes</span>
                            </div>
                          </div>
                      </div>
                </div>
              </div>
          </div>

          
    </div>
</div>

