<div class="panel panel-default col-xs-6 col-md-6">

    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span>Create User</h3>
    </div>
    <div class="panel-body">
		<div class="input-group">
	      <input type="text" class="form-control" ng-model="userToCreate" placeholder="Type name of user to create">
	      <span class="input-group-btn">
	        <button class="btn btn-default" ng-click="createNewUser(userToCreate)" type="button">Create</button>
	      </span>
	    </div>
    </div>
</div>

<div class="panel panel-default col-xs-6 col-md-6">

    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span>Users</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
      	<li class="list-group-item" ng-repeat="user in users track by $index">
      		<span  class="glyphicon glyphicon-user"></span>
      		<a href="#/user/{{user.userId}}/{{user.name}}">{{user.name}}</a>
      		<div class="input-group loginButton">
		      <span class="input-group-btn">
			        <button class="btn btn-default" ng-click="login(user.userId, user.name, user.ratings)" type="button">Login</button>
			  </span>
		    </div>
      	</li>
      </ul>
    </div>
 </div>