<div class="panel panel-default col-xs-5 col-md-5">
    <div class="panel-heading">
	      <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> {{user.name}}</h3>
	    </div>
	    <div class="panel-body">
	       <h3> <span  class="glyphicon glyphicon-thumbs-up"></span> Liked Recipes</h3>
	      <ul class="list-group">
	      	<li class="list-group-item" ng-repeat="recipe in user.likedRecipes track by $index">
	      		<a ng-click="goToProfile(recipe.recipeId,recipe.title)">
	      			<span class="glyphicon glyphicon-cutlery"></span> {{recipe.title}}
	      		</a>
	      	</li>
	      </ul>

	      <h3> <span  class="glyphicon glyphicon-thumbs-down"></span> Disliked Recipes</h3>
	      <ul class="list-group">
	      	<li class="list-group-item" ng-repeat="recipe in user.dislikedRecipes track by $index">
	      		<a ng-click="goToProfile(recipe.recipeId,recipe.title)">
	      			<span class="glyphicon glyphicon-cutlery"></span> {{recipe.title}}
	      		</a>
	      	</li>
	      </ul>
	    </div>
	  </div>

 </div>