<!DOCTYPE html>
<html lang="en" ng-app="recipesApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>REC2SYS: Content-based Recipes Recommender System</title>

    <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="front_end/style.css">

  </head>
  <body ng-controller="PageController">
    <div class="page-header">
      <h1><a ng-href="#/dash">REC2SYS: Recipes Recommender System</a></h1>
      
      <div class="col-lg-6 search-box">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="searchQuery" placeholder="What are you looking for?">
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="searchRecipe()" type="button">Search</button>
          </span>
          <a href="#/user/{{user.userId}}/{{user.name}}" ng-show="isUserLoggedIn()"class="paddingLeft panel-title"><span class="glyphicon glyphicon-user"></span> {{user.name}}</a>
          <a href="#/users" class="paddingLeft panel-title"><span class="glyphicon glyphicon-eye-open"></span> See all users</a>
        </div>
      </div>
      

    </div>
    
    <div>
      <hr>
      <div ng-view></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-cookies.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
     
     
     <script src="front_end/app.js"></script>
  </body>
</html>