body {
    background-color: #eeeeee;
}

h1, h3 {
    color: #ff5722;
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
}
h1 a, h1 a:hover, h1 a:active, h1 a:focus
{
     text-decoration: none;
     color: #ff5722;
    font-family: 'Alfa Slab One', cursive;
}

.page-header
{
    background: #fff;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding-top: 30px;
    margin-top: 0;
}

.image-container
{
    text-align: center;
}

.search-box
{
        float: none;
        margin-top: 50px;
}

h3.panel-title {
	 color: #ff5722;
	 font-size: 2.0em;
}

.panel
{
    margin-left: 15px;
    padding: 0px;
}
h1 {
    font-size: 72px;
}

.thumbnail
{
	text-align: center;
    cursor: pointer;
}

.thumbnail img { min-height:50px; height:150px; }

.thumbnail h3
{
    height: 4.4em;
}

span.glyphicon {
    font-size: 1.8em;
    color: #ff5722;
}


.nonVoted span.glyphicon
{
    color:#333333;
    cursor: pointer;
}

.nonVoted span.glyphicon:hover
{
    color: #006400;
}

.voted span.glyphicon
{
    color:#ff5722;
}

.votesValue {
    margin-right: 8px;
}

.paddingLeft
{
    margin-left: 30px
}

.centralized {
    margin-top: 14px;
    text-align: center;
}


span.glyphicon.green
{
    color: #006400;
}

.loginButton, .loginButton span{
    display: inline-block;
    margin-left: 35px;
}

.list-group a 
{
        font-size: 20px;
        font-family: 'Alfa Slab One', cursive;
}